.header {
  color: #074684;
}

.search {
  border: 2px solid #074684;
  border-radius: 10px;
}

.search-icon {
  background: white;
  border: none;
}

.search-input {
  border: none;
}

.t-head {
  background: #074684;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.table {
  border-radius: 5px;
  text-align: center;
}

tbody tr {
  background: #F8FBFD;
  border-radius: 5px;
  border-bottom: 5px solid white;
}

/* if tr is selected */
tbody tr.selected {
  background: rgba(100, 129, 100, 0.182);
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

.pagination-container > * {
  margin-left: 15px;
}

.active .page-link {
  background: #074684;
  color: white;
}

.page-link {
  color: #074684;
}

.offcanvas-header {
  background: #D8DFE4;;
}

.offcanvas-header > * {
  font-weight: bold;
}

.btn-close {
  font-weight: bold;
}

.offcanvas-body {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
}

.offcanvas-body .row {
  margin-bottom: 1.5rem;
}

.bold {
  font-weight: bold;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.blur {
  filter: blur(5px);
}